@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header .discountbar {
  display: flex;
  justify-content: space-between;
}

.discountbar {
  font-family: sans-serif;
  height: 5vh;
  width: 100%;
  background-color: #1cd1b0;
  padding: 1vh;
  font-weight: lighter;
  border-color: white;
  border-style: solid;
  border-width: 0.1px 0px 0px 0px;
  align-content: center;
  min-height: 40px;
}

.title {
  font-family: 'Roboto', sans-serif;
  background-color: #00669f;
  padding: 2vh;
  text-align: center;
  border-style: solid;
  border-radius: 1px;
  border-width: 0.25px;
  position: fixed;
  width: 100%;
}

main {
  background-color: #f2f8f0;
}

.footer {
  width: 100%;
  height: 4vh;
  background-color: #00669f;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  color: white;
  z-index: 1;
  font-family: sans-serif;
}

.footer p {
  position: relative;
  top: 1vh;
  font-family: 'Roboto', sans-serif;
}

.cardscontent {
  display: flex;
  justify-content: space-between;
  padding: 1px;
  background-color: white;
  /* position: fixed;
  top: 10vw;
  left: 33vh; */
  position: absolute;
  left: 20vw;
  top: 20vh;
  width: 60vw;
  height: 60vh;
  min-height: 300px;
  flex-wrap: wrap;
}

.batmancard {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 33%;
  height: 100%;
  border-radius: 15px;
  box-shadow: 1px 3px 4px 2px #970f0f5b;
  background-color: #f3f3f3;
  min-width: 100px;
  min-height: 100%;
}

.harleycard {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 33%;
  height: 100%;
  border-radius: 15px;
  box-shadow: 1px 3px 4px 2px #970f0f5b;
  background-color: #f3f3f3;
  min-width: 100px;
  min-height: 100%;
}

.batmancard .images {
  width: 100%;
  height: 33.3%;
}

.harleycard .images {
  width: 100%;
  height: 33.3%;
}

.batmancard .images .background {
  position: absolute;
  height: 33.3%;
  width: 100%;
  border-radius: 16px 16px 0 0;
}

.harleycard .images .background {
  position: absolute;
  height: 33.3%;
  width: 100%;
  border-radius: 16px 16px 0 0;
}

.batmancard .images .avatar {
  width: 40%;
  height: 23%;
  position: absolute;
  border-radius: 50%;
  border: 2px solid #fff;
  left: 29%;
  top: 21.5%;
}

.harleycard .images .avatar {
  width: 40%;
  height: 23%;
  position: absolute;
  border-radius: 50%;
  border: 2px solid #fff;
  left: 29%;
  top: 21.5%;
}

.batmancard .images .heart {
  color: #cc2424;
  width: 10%;
  position: absolute;
  top: 3%;
  left: 4%;
}

.harleycard .images .heart {
  color: #cc2424;
  width: 10%;
  position: absolute;
  top: 3%;
  left: 4%;
}

.batmancard .seemorebtn {
  position: relative;
  text-align: center;
  width: 100%;
  height: 10%;
  top: 5%;
  overflow: hidden;
}

.harleycard .seemorebtn {
  position: relative;
  text-align: center;
  width: 100%;
  height: 10%;
  top: 5%;
  overflow: hidden;
}

.batmancard .seemorebtn a {
  position: relative;
  text-align: center;
  text-decoration: none;
  font-size: 0.9rem;
  color: white;
  background-color: #00669f;
  font-family: 'Roboto', sans-serif;
  padding: 1vh 2vw 1vh 2vw;
  top: 20%;
}

.harleycard .seemorebtn a {
  position: relative;
  text-align: center;
  text-decoration: none;
  font-size: 0.9rem;
  color: white;
  background-color: #00669f;
  font-family: 'Roboto', sans-serif;
  padding: 1vh 2vw 1vh 2vw;
  top: 20%;
  overflow: hidden;
}

.batmancard .batmantext {
  width: 100%;
  height: 51.67%;
  position: relative;
  overflow: hidden;
}

.harleycard .harleytext {
  width: 100%;
  height: 51.67%;
  position: relative;
  overflow: hidden;
}

.batmancard .batmantext .nome {
  width: 100%;
  position: absolute;
  top: 30%;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: clamp(0.5rem, 1vw + 0.85rem, 1.5rem);
}

.harleycard .harleytext .nome {
  width: 100%;
  position: absolute;
  top: 30%;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: clamp(0.5rem, 1vw + 0.85rem, 1.5rem);
}

.batmancard .batmantext .descricao {
  width: 100%;
  position: absolute;
  top: 45%;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: clamp(0.5rem, 0.5vw + 0.5em, 1.15rem);
  padding: 0rem 1rem 0rem 1rem;
  color: #333333;
}

.harleycard .harleytext .descricao {
  width: 100%;
  position: absolute;
  top: 45%;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: clamp(0.5rem, 0.5vw + 0.5em, 1.15rem);
  padding: 0rem 1rem 0rem 1rem;
  color: #333333;
}
